<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<header th:replace="fragments/header :: cabecalho">
	<div>header</div>
</header>
<body>
	<div class="container my-5">
		<br />
		<h3>Atualizar Livro</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#"
						th:action="@{/livros/update/{id} (id=${livro.id}) }"
						th:object="${livro}" method="post">
						<div class="row">
							<div class="form-group col-md-4">
								<label for="ra" class="col-form-label">ISBN</label> <input
									type="text" th:field="*{isbn}" class="form-control" id="isbn"
									placeholder="isbn"> <span
									th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"
									class="text-danger"> </span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">Autor</label> <input
									type="text" th:field="*{autor}" class="form-control" id="autor"
									placeholder="Autor"> <span
									th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"
									class="text-danger"> </span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="email" class="col-form-label">Titulo</label> <input
									type="text" th:field="*{titulo}" class="form-control"
									id="titulo" placeholder="Titulo"> <span
									th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Atualiza Livro">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
